In [42]:
import pandas as pd

In [43]:
data=pd.read_csv("C:\\Users\\Godbl\\Downloads\\diabetes.csv")

In [44]:
data["BMI"].describe()

count    767.000000
mean      31.989961
std        7.888971
min        0.000000
25%       27.300000
50%       32.000000
75%       36.600000
max       67.100000
Name: BMI, dtype: float64

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     767 non-null float64
BMI                         767 non-null float64
DiabetesPedigreeFunction    767 non-null float64
Age                         766 non-null float64
Outcome                     768 non-null int64
dtypes: float64(4), int64(5)
memory usage: 54.1 KB

In [47]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0.0,33.6,0.627,50.0,1
1,1,85,66,29,0.0,26.6,0.351,31.0,0
2,8,183,64,0,0.0,23.3,0.672,32.0,1
3,1,89,66,23,94.0,28.1,0.167,21.0,0
4,0,137,40,35,168.0,43.1,2.288,33.0,1

In [48]:
features_col=["Pregnancies","Glucose","BloodPressure","SkinThickness"]

In [49]:
x=data[features_col]

In [50]:

x.head(20)

    Pregnancies  Glucose  BloodPressure  SkinThickness
0             6      148             72             35
1             1       85             66             29
2             8      183             64              0
3             1       89             66             23
4             0      137             40             35
5             5      116             74              0
6             3       78             50             32
7            10      115              0              0
8             2      197             70             45
9             8      125             96              0
10            4      110             92              0
11           10      168             74              0
12           10      139             80              0
13            1      189             60             23
14            5      166             72             19
15            7      100              0              0
16            0      118             84             47
17            7      107             74              0
18            1      103             30             38
19            1      115             70             30

In [51]:
y=data["Outcome"]

In [60]:
data.fillna(data.mean(), inplace=True)

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size =.20,random_state=0)

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
log_reg=LogisticRegression()

In [64]:
model=log_reg.fit(x_train,y_train)

C:\Users\Godbl\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [65]:
y_pred=log_reg.predict(x_test)

In [66]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [75]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y_test,y_pred)

In [76]:
confusion_matrix

array([[92, 15],
       [19, 28]], dtype=int64)

In [78]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7792207792207793